<div class="card">
  <ng-container *ngIf="tarefa.editando; else modoVisualizacao">
    <label>Nome tarefa</label>
    <input [(ngModel)]="tarefa.nome" class="form-control" type="text">

    <label>Descrição tarefa</label>
    <textarea [(ngModel)]="tarefa.descricao" class="form-control textarea-descricao"></textarea>
    <div class="botoes">
      <button (click)="salvar()" class="btn-salvar">Salvar</button>
      <button (click)="excluir()" class="btn-excluir">Excluir</button>
    </div>
  </ng-container>

  <ng-template #modoVisualizacao>
    <h3>{{ tarefa.nome }}</h3>
    <p>{{ tarefa.descricao }}</p>
    <button (click)="tarefa.editando = true" class="btn-editar">Editar</button>
  </ng-template>
</div>
