<app-navbar></app-navbar>

<div class="button">
  <app-button-primary [textoBotao]="'Nova tarefa'"></app-button-primary> 
</div>

<div class="container-cards">
  <app-tarefa></app-tarefa>
  <app-tarefa></app-tarefa>
</div>

<div class="button">
  <app-button-primary [textoBotao]="'Concluidos'" [exibeIconMais]="false"></app-button-primary> 
</div>

<div class="form">
  <app-formulario></app-formulario>
  <div class="button">
    <app-button-primary [textoBotao]="'Adicionar'"></app-button-primary>  
  </div>
  
</div>

