<div>
  <app-navbar></app-navbar>
</div>

<div class="toolbar">
  <button (click)="novaTarefa()" class="btn-nova">
    Nova tarefa
    <i class="ph ph-plus"></i>
  </button>
  
</div>

<div class="titulos">
  <h3>Tarefas Pendentes</h3>  
</div>

<div class="container-cards">
  <app-formulario
    *ngFor="let t of tarefasPendentes"
    [tarefa]="t"
    (salvarTarefa)="atualizarTarefa($event)"
    (excluirTarefa)="removerTarefa($event)"
    (cancelar)="removerTarefa(t)"
    (concluir)="atualizarTarefa($event)">
  </app-formulario>
</div>

<div class="titulos">
  <h3>Tarefas Concluídas</h3>  
</div>

<div class="container-cards">
  <app-formulario
    *ngFor="let t of tarefasConcluidas"
    [tarefa]="t"
    (salvarTarefa)="atualizarTarefa($event)"
    (excluirTarefa)="removerTarefa($event)">
  </app-formulario>
</div>