<nav class="navbar">
    <div class="navbar-content">
        <a class="navbar-logo">
            <img src="navbar/logo.png" alt="">
        </a>
        
        <div class="menu-container" (mouseenter)="expandirMenu()" (mouseleave)="recolherMenu()">
            <i class="ph ph-list menu-trigger"></i>
            
            <div class="menu-expansivel" [class.expandido]="menuExpandido">
                <button class="menu-item nova-tarefa" (click)="onNovaTarefa()">
                    <i class="ph ph-plus"></i>
                    Nova Tarefa
                </button>
                <div class="menu-item">
                    <i class="ph ph-gear"></i>
                    Configurações
                </div>
                <div class="menu-item">
                    <i class="ph ph-user"></i>
                    Perfil
                </div>
            </div>
        </div>
    </div>
</nav>